<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.iu.base.board.member.MemberDAO">
 
 	<select id="getBirth" resultType="MemberVO">
		SELECT NAME, EMAIL FROM MEMBER
		WHERE DATE_FORMAT(birth, '%M-%D')=DATE_FORMAT(now(), '%M-%D')
	</select>
 
 	<insert id="setJoin" parameterType="memberVO" >
	   INSERT INTO MEMBER (username, PASSWORD,NAME, EMAIL,BIRTH,ENABLED)
	   VALUES(#{username},#{password},#{name},#{email},#{birth},1)
   </insert> 
   
 	<insert id="setMemberRole" parameterType="Map" >
	   INSERT INTO MEMBERROLE (username,NUM)
	   VALUES(#{username},#{num})
   </insert> 
   
   <update id="setLogOut" parameterType="MemberVO">
   		UPDATE MEMBER SET LASTTIME=NOW() 
   		WHERE username=#{username}
   </update>
   
   <update id="setEnabled">
	   UPDATE MEMBER SET ENABLED = 0
	   WHERE LASTTIME &lt;= DATE_SUB(NOW(), INTERVAL 3 DAY);
	</update>
	
  	<select id="getMemberList" resultType="MemberVO">
  		SELECT username FROM MEMBER
  	</select>
 
 	<select id="idDuplicateCheck" parameterType="MemberVO" resultType="MemberVO">
 		SELECT username FROM MEMBER WHERE username=#{username}
 	</select>
 
 
 	<select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
 		SELECT M.username,M.password, M.email, R.num, R.ROLENAME
 		FROM MEMBER M
 			INNER JOIN
 			MEMBERROLE MR
 			ON M.username = MR.username
 			INNER JOIN
 			ROLE R
 			ON MR.NUM = R.NUM
 		WHERE M.username=#{username}		
 	</select>
 	
 	<select id="getMemberDetail" parameterType="MemberVO" resultType="MemberVO">
 		SELECT * FROM MEMBER WHERE username = #{username}
 	</select>
 	
 	<update id="setMemberUpdate" parameterType="MemberVO">
 		UPDATE MEMBER 
 		<trim prefix="SET" suffixOverrides=",">
 			username = #{username},
 			<if test="password != ''">password = #{password},</if>
 			<if test="email != ''">email = #{email},</if> 			
 			<if test="name != ''">name = #{name},</if>
 			<if test="birth != ''">birth = #{birth},</if>
 		</trim>
 		WHERE username = #{username}
 	</update>
 	
 	<update id="setMemberUpdatePw" parameterType="MemberVO">
		UPDATE MEMBER SET password = #{changeMemberPw} WHERE username = #{username} 
	</update>
 	
 	<resultMap type="MemberVO" id="getLoginResult">
 		<id property="username" column="USERNAME"/>
 		<result property="password" column="PASSWORD" />
 		<result property="email" column="EMAIL"/>
 		<collection property="roleVOs" javaType="List" ofType="RoleVO">
 			<id property="num" column="NUM"/>
 			<result property="roleName" column="ROLENAME"/>
 		</collection>
 		
 	
 	</resultMap>
 	
 	
 
 	
 </mapper>